html {
    width:fit-content;
}
header{ /*header display*/
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(51, 49, 49);
    width: 100%;
    justify-content: center;
}

body{ /**/
    background-color: lightgray;
}

h1{ /*header info*/
    display: flex;
    flex-wrap: wrap;
    background-color: lightblue;
    color: rgb(51, 49, 49);
    padding-left:50px;
    padding-right: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-link { /*top links*/
    display:flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-grow:1;
    flex-shrink: 0;
    margin: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-link a{  /*top links*/
    margin: 10px;
    font-size: 20px;
    color: lightblue;
}

a { /*a attributes for hover*/
    display: block;
    text-decoration: none;
}

a:hover { /*link hove color change*/
    background-color: darkblue;
}

.design { /*backgrond design space break*/
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    width: 100%;
    background-image: url("Images/modern-banner-with-abstract-low-poly-design_1048-14340.png");
    background-size: cover;
}

#cool-sub-title{ /*name postioning font size*/
    display: flex;
    flex-wrap: wrap;
    position: absolute;    
    right: 5%;
    font-size: 30px;
}

.row{ /*display for about me*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.about { /*about me text font display size*/
    display: flex;
    flex-direction: row;
    justify-content: start;
    text-align: right;
    margin-left: 20px;
    color: rgb(46, 42, 69);
}

.about-bio{ /*text area for bio*/
    text-align: justify;    
    font-size:1.5em;
    padding: 20px;
    width:61%;
}

.box{ /*line for work box*/
    font-size:1.7em;
    border:solid;
    border-width: 10px;
    border-bottom: hidden;
    border-top: hidden;
    border-left: hidden;
    padding: 20px;
    margin: 10px;
    width:100px;
}

.work { /*work text display and margins*/
    display: flex;
    flex-direction: row;
    justify-content: start;
    text-align: right;
    margin-left: 20px;
    color: rgb(46, 42, 69);
}

.work2 { /*work2 text display and margins*/
    width: fit-content;
}

.pictures1 img{ /*top link image sizing*/
    max-height:100%;
    min-width:100%;
    object-fit:cover;    
    margin: 20px;
    border: solid lightblue;
}

.pictures2{ /*display link middle*/
    display: flex;
    flex-direction: row;
}

.pictures2 img { /*link picture sizing middle*/
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    margin: 20px;
    border: solid lightblue;
}

.pictures4 { /*diplay link picture bottom 2*/
    display: flex;
    flex-direction: row;
}

.pictures4 img { /*link picture sizing bottom 2*/
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    margin: 20px;
    border: solid lightblue;
}

.box2{ /*box for work area*/
    border:solid;
    border-width: 10px;
    border-bottom: hidden;
    border-top: hidden;
    border-right: hidden;
    padding: 28px;
    margin: 10px;
}

.contact { /*margins and colors for contacts*/
    display: flex;
    flex-direction: row;
    justify-content: start;
    text-align: right;
    margin-left: 20px;
    color: rgb(46, 42, 69);
}

.box3{ /*box for the contact me text*/
    Border:solid;
    border-width: 10px;
    border-bottom: hidden;
    border-top: hidden;
    border-right: hidden;
    padding: 28px;
    width:min-content;
    margin-left: -6px;
}

.contact-info{ /*display and font for contact area*/
    display: flex;
    flex-direction: row;    
    font-size: 1.5em;    
    justify-content: space-evenly;
    align-items: center;
    color:slategray
}

.contact-info span {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.row1{ /*flex row for contact section*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer { /* footer text and margins*/
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-weight: bold;
}

.footer h3 { /*footer font size and weight*/
    font-size: 16px;
    font-weight: normal;
}
/*
    @media screen and (max-width: 992px) {
    .work {
        width: 50%;
    }
    .row1{
        width:50%;
    }
    .box3{
        width: 50%;
    }
    .row{
        width: 50%
    }
  }
  
  /* Cards are stacked on top of each other at 768px or smaller */
/*
    @media screen and (min-width: 768px) {
    .work {
        width: 50%;
         }
    .row1{
          width:50%;
         }
    .box3{
          width: 50%;
         }
    .row{
    width: 50%
        }
    }
*/
  